<div class="ui grid">
  <div class="five wide column thin border">
    <div class="invoice-box">
      <table class="invoice-table" cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">
                  <img src="../images/logo.png" style="width:100%; max-width:300px;">
                </td>

                <td>
                  <div class="invoice-order-number">Order #: 0</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <div class="table-wrapper">
        <table class="invoice-table" id='orders-table' cellpadding="0" cellspacing="0">
          <tr class="heading">
            <td>
              Item
            </td>
            <td>
              Price
            </td>
          </tr>
        </table>
      </div>
      <table class="invoice-table" id='costs-table' cellpadding="0" cellspacing="0">
      </table>
    </div>
  </div>
  <div class="eleven wide column thin border">
    <div class="ui four red cards">
      <a class="red card" href="/1" data-ref="1" onclick="setTable(this)">
        <div class="extra">
          Table: 1
        </div>
      </a>
      <a class="red card" href="/2" data-ref="2" onclick="setTable(this)">
        <div class="extra">
          Table: 2
        </div>
      </a>
      <a class="red card" href="/3" data-ref="3" onclick="setTable(this)">
        <div class="extra">
          Table: 3
        </div>
      </a>
      <a class="red card" href="/4" data-ref="4" onclick="setTable(this)">
        <div class="extra">
          <div>
            <div style="float:left">
              Table: 4
            </div>
            <div style="float:right">
              <input type="number" id="input" />
              <input id="stop" type="button" value="stop" />
              <input id="start" type="button" value="start" />

            </div>
          </div>
        </div>
      </a>
      <a class="red card" href="/5" data-ref="5" onclick="setTable(this)">
        <div class="extra">
          Table: 5
        </div>
      </a>
      <a class="red card" href="/6" data-ref="6" onclick="setTable(this)">
        <div class="extra">
          Table: 6
        </div>
      </a>
      <a class="red card" href="/7" data-ref="7" onclick="setTable(this)">
        <div class="extra">
          Table: 7
        </div>
      </a>
      <a class="red card" href="/8" data-ref="8" onclick="setTable(this)">
        <div class="extra">
          Table: 8
        </div>
      </a>
      <a class="red card" href="/9" data-ref="9" onclick="setTable(this)">
        <div class="extra">
          Table: 9
        </div>
      </a>
      <a class="red card" href="/10" data-ref="10" onclick="setTable(this)">
        <div class="extra">
          Table: 10
        </div>
      </a>
      <a class="red card" href="/11" data-ref="11" onclick="setTable(this)">
        <div class="extra">
          Table: 11
        </div>
      </a>
      <a class="red card" href="/12" data-ref="12" onclick="setTable(this)">
        <div class="extra">
          Table: 12
        </div>
      </a>
      <a class="red card" href="/13" data-ref="13" onclick="setTable(this)">
        <div class="extra">
          Table: 13
        </div>
      </a>
      <a class="red card" href="/14" data-ref="14" onclick="setTable(this)">
        <div class="extra">
          Table: 14
        </div>
      </a>
      <a class="red card" href="/15" data-ref="15" onclick="setTable(this)">
        <div class="extra">
          Table: 15
        </div>
      </a>
    </div>
  </div>
