<div class="ui grid">
  <div class="five wide column thin border">

    <div class="invoice-box">
      <table cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">
                  <img src="../logo.png" style="width:100%; max-width:300px;">
                </td>

                <td>
                  Order #: 1<br> Table #: 1
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="heading">
          <td>
            Item
          </td>

          <td>
            Price
          </td>
        </tr>

        <tr class="item">
          <td>
            1 Burrito (carne asada)
          </td>

          <td>
            $7.20
          </td>
        </tr>

        <tr class="item">
          <td>
            1 Chips
          </td>

          <td>
            $1.00
          </td>

        </tr>

        <tr class="item last">
          <td>
            10 Coronas
          </td>

          <td>
            $35.00
          </td>
        </tr>

        <tr class="total">
          <td></td>

          <td>
            Sub Total: $43.20
          </td>
        </tr>
        <tr class="total">
          <td></td>
          <td>
            Tax (9.0%): $3.89
          </td>
        </tr>
        <tr class="total">
          <td></td>

          <td>
            Total: $47.09
          </td>
        </tr>
      </table>
      <div class="ui button" onclick="test()">test items</div>
      <div class="ui button" onclick="testreset()">reset items</div>
    </div>

  </div>
  <div class="eleven wide column thin border">
    <div class="ui four cards">
      <a class="card" href="/1">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 1
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/2">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 2
          <div class="ui star rating" data-rating="2"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/3">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 3
          <div class="ui star rating" data-rating="3"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/4">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 4
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/5">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 5
          <div class="ui star rating" data-rating="3"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/6">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 6
          <div class="ui star rating" data-rating="3"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/7">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 7
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/8">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 8
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/9">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 9
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/10">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 10
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/11">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 11
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/12">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 12
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/13">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 13
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/14">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 14
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
      <a class="card" href="/15">
        <div class="image">
          <img>
        </div>
        <div class="extra">
          Table: 15
          <div class="ui star rating" data-rating="4"></div>
        </div>
        <div class="extra content">
          Timer goes here.
        </div>
      </a>
    </div>
  </div>
