<!doctype html>
<html lang="en">

<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../semantic/dist/semantic.min.js"></script>
    <script src="https://use.fontawesome.com/f40604ec3e.js"></script>
    {{#each styles}}
        <link rel="stylesheet" href="../stylesheets/{{this}}" />
    {{/each}}
    {{#each javascript}}
        <script src="../javascripts/{{this}}"></script>
    {{/each}}
</head>

<body>
    {{{body}}}
</body>
</html>
