<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui large form" action="userlogin" method="post">
      <div class="ui stacked segment">
        <h2 class="ui teal image header">Welcome Back.</h2>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input name="email" type="text" value="jack@foo.com">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" value="Password">
          </div>
        </div>
        <input type="submit" class="ui fluid large teal submit button" value="Login"></input>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>

<script>
$('.ui.large.form')
  .form({
    password: {
      identifier: 'password',
      rules: [{
        type: 'empty',
        prompt: 'Please enter your password'
      }]
    },
    email: {
      identifier: 'email',
      rules: [{
        type: 'email',
        prompt: 'Please enter your email'
      }]
    }
  });
  </script>
